

/*Telas para dispositivos móveis*/
@media (max-width: 767px) {

	/*  Home Slide */
	.carousel-inner{
    	height: 500px;
 	}

 	/* Sobre */
 	.texto{
 		
    	width: 100vw;
    	align-items: center;
    	display: flex;
    	flex-direction: row;
    	justify-content: center;
    	margin: 0px;
 	}

 	h5{
 		text-align: right;
 		padding-left: 2%;
 	}

 	h2{
    	font-weight:bold;
    	margin: 3%;
    	text-align: center;
    	font-size: 20px;
	}

	.apartamento{
		margin-left: auto;
    	margin-right: auto;
	}

	/* Mapa */

	.mapa {
        height: 75%;
    }


}
